*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: baloo;
    src: url(fonts/Baloo2-Regular.ttf);
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #fd5577;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.piano-box{
    padding: 1.5em;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0px auto;
}
.btn{
    display: inline-block;
    width: 2.1em;
    height: 9.4em;
    background-color: #ffff;
    margin: 0px auto;
    cursor: pointer;
}
.btn:hover{
    background-color: burlywood;
    transition: 0.5s;
}
.btn:active{
    background-color: #ac8a8a;
}
.span-btn{
    width: 12px;
    height: 6em;
    background-color: #000000;
    margin: 0px auto;
    margin-left: 25px;
}
#music-btn{
    width: 78px;
    height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    font-family: baloo;
    border-radius: 30%;
    border-top: 3px solid #00ff7f;
    border-left: 3px solid #6239f7;
    border-bottom: 3px solid #440d72;
    border-right: 3px solid #a5440d;
    color: rgb(70, 69, 69);

}